{% load static %}
<div class="main-section-content-container" id="main-section-content-container-change-password">
    <h1 class="main-section-content-title">Change password</h1>
    <form class="change-personal-info" action="{% url 'profileChangePassword' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="change-personal-info-form-row center">
                <div class="change-personal-info-form-column center">
                    <label for="{{ field.id_for_label }}"
                           class="change-personal-info-form-label">{{ field.label|title }}</label>
                </div>
                <div class="change-personal-info-form-column center">
                    {{ field }}
                </div>
            </div>
            {% if form.errors %}
                {% for error in field.errors %}
                    <div class="change-personal-info-form-row center">
                        <span class="form-error-box">{{ error|title }}</span>
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
        <button class="change-password-form-submit-button" type="submit">Confirm</button>
    </form>
</div>