{% load static %}
{% url 'profilePage' as profileViewUrl %}
{% url 'profileChangePassword' as profileChangePasswordViewUrl %}
<div class="sideBar-menu-container">
    <div class="sideBar-menu-user-profile-photo-container">
        <div class="sideBar-menu-user-profile-photo-exit-botton center">
            <a href="{% url 'logout' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                     class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z">
                    </path>
                    <path fill-rule="evenodd"
                          d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z">
                    </path>
                </svg>
            </a>
        </div>
        <div class="sideBar-menu-user-profile-photo-holder center">
            <img src="{% static 'img/Backround/eberhard-grossgasteiger-Vg7xgTzU97M-unsplash.jpg' %}" alt="User"
                 class="sideBar-menu-user-profile-photo" width="100%" height="100%">
        </div>
        <h3 class="sideBar-menu-user-profile-photo-username">Username</h3>
    </div>
    <div class="sideBar-menu-items-container center">
        <ul class="sideBar-menu-list">
            <li class="sideBar-menu-item"><a href="{{ profileViewUrl }}"
                                             {% if request.path == profileViewUrl %}class="sideBar-menu-item-active"{% endif %}>Dashboard</a>
            </li>
            <li class="sideBar-menu-item"><a href="#">Games Scores</a></li>
            <li class="sideBar-menu-item"><a href="#">Blog Posts</a></li>
            <li class="sideBar-menu-item"><a href="#">Change Personal Info</a></li>
            <li class="sideBar-menu-item"><a href="{{ profileChangePasswordViewUrl }}"
                                             {% if request.path == profileChangePasswordViewUrl %}class="sideBar-menu-item-active"{% endif %}>Change
                Password</a></li>
            <li class="sideBar-menu-item"><a href="#">Settings</a></li>
        </ul>
    </div>
</div>