{% extends 'main/main.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/accounts/registerPage.css' %}"/>
{% endblock %}
{% block main %}
    <section class="main-section">
        <div class="center switch-page-links-container">
            <a href="{% url 'signupPage' %}" class="switch-page-link">Sign-Up</a>
            <a href="{% url 'loginPage' %}" class="switch-page-link switch-page-link-active">Login</a>
        </div>
        <form class="register-form" method="post" action="{% url 'loginPage' %}">
            {% csrf_token %}
            {% if error is not None %}
                <p class="center register-form-row register-form-row-error-message">{{ error }}</p>
            {% endif %}
            {#    username input    #}
            <div class="center register-form-row">
                <label for="{{ form.username.id_for_label }}"
                       class="register-form-label">{{ form.username.label|title|add:": " }}</label>
                {{ form.username }}
            </div>
            {% if form.errors %}
                {% for error in form.username.errors %}
                    <p class="center register-form-row register-form-row-error-message">{{ error }}</p>
                {% endfor %}
            {% endif %}
            <div class="center register-form-row">
                <label for="{{ form.password.id_for_label }}"
                       class="register-form-label">{{ form.password.label|title|add:": " }}</label>
                {{ form.password }}
            </div>
            {% if form.errors %}
                {% for error in form.password.errors %}
                    <p class="center register-form-row register-form-row-error-message">{{ error }}</p>
                {% endfor %}
            {% endif %}
            <div class="center register-form-row register-form-row-submit-button">
                <button class="register-form-submit-button" type="submit">
                    Submit
                </button>
            </div>
        </form>
    </section>
{% endblock %}