.form-error-box{
    margin: 1% 0;
    width: 100%;
    color: #F24C4C;
    font-width: bold;
    font-size: 17px;
    font-family: switch-links;
}

.change-personal-info {
    width: 80%;
    margin: 1% 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
}

.change-personal-info-form-row {
    margin: 1% 0;
    width: 100%;
}

.change-personal-info-form-column {
    width: 50%;
    justify-content: center;
}

.change-personal-info-form-label {
    min-width: 50%;
    text-align: left;
    color: white;
    font-weight: bold;
    font-size: 17px;
    font-family: header-main-description;
}


.change-personal-info-form-input, #user-bio-textarea {
    min-width: 90%;
    padding: 3% 5%;
    background-color: rgba(0, 0, 0, .8);
    color: white;
    font-weight: bold;
    font-size: 17px;
    font-family: switch-links;
    border: none;
    border-radius: 10px;
}

#user-bio-textarea{
    min-width: 90%;
    max-width: 90%;
    min-height: 100px;
    height: 100px;
    max-height: 150px;
}

.change-personal-info-form-input::placeholder {
    color: white;
    font-weight: bold;
    font-size: 17px;
    font-family: switch-links;
}

.change-personal-info-form-submit-button, .change-password-form-submit-button {
    padding: 2% 5%;
    margin: 2% 0 1%;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 18px;
    font-family: header-logo;
    cursor: pointer;
}