* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

@font-face {
    src: url("../../font/Manrope-Light.ttf");
    font-family: form-title;
}

@font-face {
    src: url("../../font/LibreFranklin-Light.ttf");
    font-family: form-label;
}

body {
    background-image: url("../../img/Backround/eberhard-grossgasteiger-Vg7xgTzU97M-unsplash.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.main-section {
    padding: 1% 0 2%;
    margin: 5% auto 1%;
    width: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #1a132f;
}

.form-title {
    margin: 0 auto;
    color: #F7E2E2;
    font-weight: bold;
    font-size: 25px;
    font-family: form-title;
}

.register-form {
    margin: 1% auto .5%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.register-form-row {
    width: 100%;
    margin: 2% 0;
    display: flex;
    justify-content: space-between;
}

.register-form-row-error-message{
    margin: 1% 0;
    color: #F24C4C;
    font-weight: bold;
    font-size: 16px;
    font-family: form-title;
}

.register-form-row-submit-button {
    margin-top: 5%;
}

.register-form-label {
    color: #F7E2E2;
    width: 50%;
    font-size: 17px;
    text-align: left;
    font-weight: bold;
    font-family: form-label;
    cursor: pointer;
}

.register-form-label + input {
    max-width: 50%;
    padding: 2% 5%;
    font-size: 15px;
    font-weight: bold;
    font-family: form-label;
    border: none;
    border-radius: 7px;
    background-color: #5B7DB1;
    color: #F7E2E2;
}

.register-form-input::placeholder {
    color: #F7E2E2;
    font-size: 15px;
    font-weight: bold;
    font-family: form-label;
}

.register-form-submit-button {
    padding: 3% 7%;
    margin: 0 auto;
    color: #F7E2E2;
    background-color: #5B7DB1;
    font-size: 17px;
    font-weight: bold;
    font-family: form-label;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}